/* Reset default browser styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a modern and clean font */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  background-image: url('path/to/your/image.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Add margin and padding between the header and main */
header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position:sticky;
  top:0;
  background-color:#000;
  width: 800px;
}

/* Style the website title */
h1 {
  font-size: 48px;
  color: #fff;
  margin-top: 10px;
}

.auth{
  font-size: 24px;
  font-weight: 100;
  color: #ddd;
  margin-bottom: 25px;
}

/* Style the navigation menu */
nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
 
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: #fff;
  color: #000;
}

/* Add some spacing and style to the main section */
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style the introduction section */
section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #fff;
}

section p {
  line-height: 1.5;
  font-size: 18px;
}

/* Style the footer */
footer {
  padding: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Add hover effect to navigation links */
nav ul li a:hover {
  text-decoration: none;
}

.storyX>section>p{
  text-align: justify;
  line-height: 1.5;
  padding: 15px 0 ;
  
  font-size: 1.2rem;
  font-weight: 100;
}

.storyX>section>h2{
  text-align: center;
  font-weight: 100;
  font-size: 2rem;
  text-decoration: underline solid #eee;
  text-underline-offset: 10px;
  margin-bottom:20px;
}

.storyX>section{
  paddin-bottom: 50px;
}